<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Blazor WebAssembly benötigt URL Rewriting -->
    <rewrite>
      <rules>
        <rule name="Blazor routing" stopProcessing="true">
 <match url=".*" />
    <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
   <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
  <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- MIME-Types für WebAssembly -->
    <staticContent>
      <remove fileExtension=".dll" />
      <remove fileExtension=".json" />
      <remove fileExtension=".wasm" />
   <remove fileExtension=".woff" />
    <remove fileExtension=".woff2" />
      <remove fileExtension=".dat" />
      <remove fileExtension=".blat" />
      <remove fileExtension=".br" />
      <mimeMap fileExtension=".dll" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
  <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
    <mimeMap fileExtension=".blat" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".br" mimeType="application/octet-stream" />
    </staticContent>
    
    <!-- Kompression für WebAssembly -->
    <httpCompression>
      <dynamicTypes>
        <remove mimeType="application/wasm" />
      </dynamicTypes>
      <staticTypes>
      <add mimeType="application/wasm" enabled="false" />
      </staticTypes>
    </httpCompression>
    
    <!-- Security Headers -->
    <httpProtocol>
 <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
<add name="X-Content-Type-Options" value="nosniff" />
   </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
